# Cithara Environment Configuration
# Copy this file to .env and replace the values appropriately

# Set strategy to 'mock' or 'suno'
GENERATOR_STRATEGY=mock

# Enter your Suno API Key if using 'suno' strategy
# Leave empty or dummy when using 'mock'
SUNO_API_KEY=your_actual_suno_api_key_here

# Enter your Suno callback url if using 'suno' strategy
# SUNO_CALLBACK_URL = 'http://localhost:8000/api/suno/callback/'
